Package: sonic-platform-semptian-ps8550-128x
Source: platform-driver
Version: 1.0.0
Architecture: amd64
Maintainer: Semptian <semptian@semptian.com>
Installed-Size: 7
Section: unknown
Priority: optional
Description: This package contains PS8550-128X platform driver utility for SONiC project.
