[Unit]
Description=SEMPTIAN_PS7350_32X Platform Monitoring WDT service
#After=pmon.service
#After=ps7350-32x-driver.service
#DefaultDependencies=no

[Service]
ExecStart=/usr/sbin/semptian_monitor_watchdog.py
StartLimitInterval=600
StartLimitBurst=60
RestartSec=10
Restart=always

# Resource Limitations
LimitCORE=infinity

[Install]
WantedBy=multi-user.target
